<div class="carousel" style="background-color: burlywood; bottom: 0px;">

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-4 text-center">
                <h5><strong>Site Haritası</strong></h5>
                <hr />
                <p><a href="#"><span class="glyphicon glyphicon-info-sign"> Hakkımızda</span></a></p>
                <p><a href="/Home/MostLiked"><span class="glyphicon glyphicon-heart"> En Beğenilenler</span></a></p>
                <p><a href="/Home/Index"><span class="glyphicon glyphicon-pencil"> Anasayfa</span></a></p>

            </div>
            <div class="col-lg-4 text-center">
                <h5><strong>AHMET KAAN MOL</strong></h5>
                <hr />
                <p>Tüm hakları saklıdır &copy; MOL Blog @DateTime.Now.Year</p>
            </div>
            <div class="col-lg-4 text-center">
                <h5><strong>Etkinlikler</strong></h5>
                <hr />
                <p><a href="#"><span class="glyphicon glyphicon-road"> İstanbul</span></a></p>
                <p><a href="#"><span class="glyphicon glyphicon-road"> İzmir</span></a></p>
                <p><a href="#"><span class="glyphicon glyphicon-road"> Ankara</span></a></p>
                <span class="input-group-btn"><button type="submit" class="btn btn-group"><span class="glyphicon glyphicon-send"><a href="mailto:kaanmol@gmail.com" style="text-decoration:none"> Bize Ulaş!</a></span></button></span>
            </div>
        </div>
    </footer>

</div>
